# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

SDK/vstfxstore.h
SDK/portaudio.h
SDK/audioeffectx.h
SDK/audioeffectx.cpp
SDK/aeffect.h
Debug/portaudio.tlog/portaudio.write.1u.tlog
Debug/portaudio.tlog/portaudio.lastbuildstate
Debug/portaudio.tlog/link.write.1.tlog
Debug/portaudio.tlog/link.command.1.tlog
Debug/portaudio.tlog/CL.write.1.tlog
Debug/portaudio.tlog/CL.read.1.tlog
Debug/portaudio.tlog/CL.command.1.tlog
portaudio/portaudio.tlog/portaudio.lastbuildstate
portaudio/portaudio.tlog/link.write.1.tlog
portaudio/portaudio.tlog/link.read.1.tlog
Release/portaudio.tlog/link.write.1.tlog
Release/portaudio.tlog/link.read.1.tlog
Release/portaudio.tlog/link.command.1.tlog
Release/portaudio.tlog/CL.command.1.tlog
Debug/vc141.idb
Debug/portaudio.tlog/link.read.1.tlog
SDK/audioeffect.h
SDK/audioeffect.cpp
SDK/aeffeditor.h
SDK/aeffectx.h
Release/portaudio.tlog/CL.read.1.tlog
Debug/portaudio_x64.exp
portaudio/vc141.idb
portaudio/portaudio_x64.exp
portaudio/portaudio.tlog/portaudio.write.1u.tlog
portaudio/portaudio.tlog/CL.write.1.tlog
Release/portaudio_x64.exp
Release/portaudio.tlog/portaudio.write.1u.tlog
Release/portaudio.tlog/CL.write.1.tlog
portaudio/portaudio.tlog/CL.read.1.tlog
portaudio/portaudio.tlog/CL.command.1.tlog
Release/portaudio.tlog/portaudio.lastbuildstate
SDK/vstplugmain.cpp
portaudio/portaudio.tlog/link.command.1.tlog
